@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
    *{
         margin:0;
         padding: 0;
         border: 0;
      }
      
      body{
        background-color: rgb(39, 134, 194);
       }
      header {
          padding: 32px;
          border-bottom: 1px solid #0f74ae;
          background-color: rgb(76, 12, 145);
      }
      header div {
          text-align: center; /* alinhamento no meio do header */
      }
      header div a{
            color: rgb(221, 41, 203); /* a cor do texto */
            font-size: 20px; /* tamanho da fonte */
            line-height: 30px; /* espaçamento da linha do texto */
            margin: 0 16px; /* espaçaento do texto */
            text-decoration: none; /* retirar decoraçao do texto */
            font-family:  "Holtwood One SC", serif; /*fonte escolhida no menu */
      }
  header div a:hover {  /* seleçao de modo quando o mouse passar por cima "hover"*/
      color: #772fe3; /* mudar para cor roxa*/
      transition: color 700ms; /* e fazer uma trasinçao de cor q dura 700ms*/

  }
 #box {
    text-align: center; /*alinhamento do meio do body */
    padding: 32px; /*distancia dos  outros elementos */
 }

 #box img {
    border-radius: 50%; /* adiciona uma borda rendonda da imagem */
    border: 5px  solid #100f10; /* adiciona uma cor a borda da imagem */ 
    margin-bottom: 32px; /* distancia da margem inferior dos outros elementos */
 }
 #box h1 {
    font-size: 42px; /*tamanho da fonte */
    line-height: 52px; /* espaçamento da linha do texto */
    font-weight: bold; /* tipo de fonte */
 }
 #box h2 {
    border-radius: 24px; /* tamanho da fonte */
    line-height: 34px; /* espáçamento da lina do texto */
    font-weight: normal; /* tipo da fonte */
    margin-top: 8px; /* distancia da margem superior dos outros elementos */
    opacity: 0.8; /* transparemcia do elemento */
 }
 #box p {
    max-width: 500px; /* tamanho maximo do elemento na largura */
    margin: 32px auto; /* distancias das margens  dos outros elementos */
    font-size: 24px; /* tamanho da fonte */
    line-height: 34px; /* espaçamento da linha */
 }
 .links {
   text-align: center;
 }
 .links a {
   color: rgb(250, 249, 250);
   font-size: 20px;
   line-height: 30px;
   margin: 0 16px;
   text-decoration: none;
 }
 .links a:hover {
   color: var(--subcor);
   transition: 600ms;
   font-size: 23px;
 }
 #box h1   {
   padding: 4px;
}
 
#box h2   {
padding: 10px;
 }

 #box p:hover {
   font-size: 23px;
}

 #box  a{
   color: var(--subcor);
   transition: 600ms;
 }
 #linksfooter {
   padding-top: 32px;
 }

 #linksfooter a {
   padding-top: 32px;
   padding-bottom: 8px;
   border-bottom: 3px solid var(--subcor);
 }